<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SWIMv2Web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletLogin</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletRegistration</display-name>
    <servlet-name>ServletRegistration</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletRegistration</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletAcceptAbilityRequest</display-name>
    <servlet-name>ServletAcceptAbilityRequest</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletAcceptAbilityRequest</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletSearch</display-name>
    <servlet-name>ServletSearch</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletSearch</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletProfilePage</display-name>
    <servlet-name>ServletProfilePage</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletProfilePage</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletProfileSeenByOther</display-name>
    <servlet-name>ServletProfileSeenByOther</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletProfileSeenByOther</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletLogout</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletSkillPage</display-name>
    <servlet-name>ServletSkillPage</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletSkillPage</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletAbilityDeclared</display-name>
    <servlet-name>ServletAbilityDeclared</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletAbilityDeclared</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletAbilityDeleted</display-name>
    <servlet-name>ServletAbilityDeleted</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletAbilityDeleted</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletAbilityRequested</display-name>
    <servlet-name>ServletAbilityRequested</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletAbilityRequested</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletNewAbilities</display-name>
    <servlet-name>ServletNewAbilities</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletNewAbilities</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletNewJobRequest</display-name>
    <servlet-name>ServletNewJobRequest</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletNewJobRequest</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletAdminAbilityList</display-name>
    <servlet-name>ServletAdminAbilityList</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletAdminAbilityList</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletAdminDeleteAbility</display-name>
    <servlet-name>ServletAdminDeleteAbility</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletAdminDeleteAbility</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletAdminRedirect</display-name>
    <servlet-name>ServletAdminRedirect</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletAdminRedirect</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletJobRequestsPage</display-name>
    <servlet-name>ServletJobRequestsPage</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletJobRequestsPage</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletRefuseAbilityRequest</display-name>
    <servlet-name>ServletRefuseAbilityRequest</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletRefuseAbilityRequest</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletJobRefused</display-name>
    <servlet-name>ServletJobRefused</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletJobRefused</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletJobAccepted</display-name>
    <servlet-name>ServletJobAccepted</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletJobAccepted</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletFriendshipRequest</display-name>
    <servlet-name>ServletFriendshipRequest</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletFriendshipRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletJobAccepted</servlet-name>
    <url-pattern>/ServletJobAccepted</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletJobRefused</servlet-name>
    <url-pattern>/ServletJobRefused</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletRefuseAbilityRequest</servlet-name>
    <url-pattern>/ServletRefuseAbilityRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletJobRequestsPage</servlet-name>
    <url-pattern>/ServletJobRequestsPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletRegistration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletSearch</servlet-name>
    <url-pattern>/ServletSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletProfilePage</servlet-name>
    <url-pattern>/ServletProfilePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletProfileSeenByOther</servlet-name>
    <url-pattern>/ServletProfileSeenByOther</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletSkillPage</servlet-name>
    <url-pattern>/ServletSkillPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAbilityDeclared</servlet-name>
    <url-pattern>/ServletAbilityDeclared</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAbilityDeleted</servlet-name>
    <url-pattern>/ServletAbilityDeleted</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAbilityRequested</servlet-name>
    <url-pattern>/ServletAbilityRequested</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletNewAbilities</servlet-name>
    <url-pattern>/ServletNewAbilities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletNewJobRequest</servlet-name>
    <url-pattern>/ServletNewJobRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAdminAbilityList</servlet-name>
    <url-pattern>/ServletAdminAbilityList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAdminDeleteAbility</servlet-name>
    <url-pattern>/ServletAdminDeleteAbility</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAcceptAbilityRequest</servlet-name>
    <url-pattern>/ServletAcceptAbilityRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAdminRedirect</servlet-name>
    <url-pattern>/ServletAdminRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletFriendshipRequest</servlet-name>
    <url-pattern>/ServletFriendshipRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFriendshipPage</display-name>
    <servlet-name>ServletFriendshipPage</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletFriendshipPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFriendshipPage</servlet-name>
    <url-pattern>/ServletFriendshipPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFriendListPage</display-name>
    <servlet-name>ServletFriendListPage</servlet-name>
    <servlet-class>it.polimi.swimv2.controller.ServletFriendListPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFriendListPage</servlet-name>
    <url-pattern>/ServletFriendListPage</url-pattern>
  </servlet-mapping>
</web-app>