@CHARSET "utf-8";

body { font-size: medium;
	font-family: "Calibri", Times, serif;
}

a {
	text-transform: uppercase;
	font-weight:bold;
	color: Green;
}

#text { 
	font-size: medium;
	font-family: "Calibri", Times, serif;
	width: 70%;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo{
	text-align:center; 
 	clear: both;
	border-bottom-color: Green;
	border-bottom-style: solid;
	border-bottom-width: 5px;
		
}

#footer{
	font-family: "Calibri";
	text-align:right;
  	clear: right;
  	padding-top: 10px; 
  	color: #B0B0B0
}

#sidebar{
	font-family: "Calibri", Times, serif;
	clear: right;
	float: right;
	width: 25%;
	text-transform: uppercase;
	font-weight:bold;
	color: Green;
	text-align: left;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	overflow:hidden;	
	height: auto !important;
	border-left-color: Green;
	border-left-style: solid;
	border-left-width: 5px;
	border-bottom-color: Green;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	 	
	}