@CHARSET "utf-8";

body { font-size: medium;
	font-family: "Calibri", Times, serif;
}
ul li {
	list-style: square;
}

#text { 
	font-size: medium;
	font-family: "Calibri", Times, serif;
	width: 73%;
	float: left;
	border-right-color: Green;
	border-right-style: solid;
	border-right-width: 5px;
}

#logo{
	font-family: "Calibri";
	font-size: x-large;	
 	text-align:center;
 	color: Green;
	clear: both;
	border-bottom-color: Green;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}

#footer{
	font-family: "Calibri";
	text-align:center;
  	clear: both;
  	border-top-color: Green;
	border-top-style: solid;
	border-top-width: 5px; 	
}

#sidebar{
	font-family: "Calibri", Times, serif;
	font-size: medium;
	clear: right;
	float: right;
	width: 25%;
	overflow:hidden;	
	text-align:left;
	height: auto !important;
	 	
	}